<!-- including header  -->
<%- include("partials/header"); -%>

<!-- body of info starts  -->

<div class="body-part container-fluid">

  <div class="row">

    <div class="col-md-10 col-12 mx-auto">

      <p class="heading">Posts</p>
<!-- creating two sections grid for posts  -->
<!-- section 1 -->

<div class="container-fluid">



  <div class="row">

    <div class="col-lg-8">


      <div class="welcomenote">

        <a href="" class="wnote"> Welcome to Red Leaf Fresh Fruits
        </a>
      </div>
    
    </div>
    
    <!-- section 2 -->
    
    <div class="col-lg-4">


    <div class="card">
      <!-- <img src="images/fruitpacking.jpeg" alt="" class="card-img"> -->
      <iframe class="card-img" width="853" height="233" src="https://www.youtube.com/embed/lChKl4RHnOE?start=153&end=165?autoplay=1&mute=1" title="Fruit Packing" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      <p class="heading">Fruit Packing</p>
      <p class="card-desc">Based in Cobram, our production facility operates grading lines packing in excess of 20,000 bins of freshly harvested Stone fruits, 8,000 bins of apples and 1 million prepack units each year.</p>
    </div>

    <div class="card">

      <img src="images/apple.jpeg" alt="Apple & Stone fruit grading" class="card-img">
      <p class="heading">Apple & Stone fruit grading</p>
      <p class="card-desc">The Red Leaf Fresh fruits packing facility packs for a wide range of customers that include major domestic retailers, premium wholesale markets, independent retails and major export customers.

        Our technology and highly skilled team allow us to efficiently pack into a large number of packing formats.
        
        Our core focus is around supplying consistent quality product with packing market leading packing rates , with the end goal to maximise returns to our grower base.</p>
    </div>

    <div class="card">

      <img src="images/state.jpeg" alt="State of the art equipment" class="card-img">
      <p class="heading">
        State of the art equipment
      </p>
      <p class="card-desc">Sourcing packing equipment from across the globe and having undergone an extensive upgrade, we use state of the art internal and external defect sorters, graders and pre-pack equipment, that operate at high speed to maximise efficiency for greater productivity and reduced packing costs.</p>


    </div>

    <div class="card">

      <img src="images/bulkpacking.jpeg" alt="Bulk packing" class="card-img">
      <p class="heading">
        Bulk packing
      </p>
      <p class="card-desc">Red Leaf production also work with external affiliates to pack an additional 80,000 bins of fruit that is sold and marketed under the Red Leaf brands. Red leaf provides pre-packing and bulk packing services to external partes who wish to utilise our facilities.</p>


    </div>
    
    </div>

   
    
    <!-- section 2 ends  -->


    
  </div>
</div>



    </div>
  </div>
</div>



<!-- including footer  -->
<%- include("partials/footer"); -%>
