
/* root color so that we can reuse it keep our site uniform 
 */

 :root{
    --main-bg:rgb(253, 253, 253);
    --main-panel:rgb(7, 76, 7);
    --main-color:rgba(41, 247, 0, 0.738);
    --main-cement:rgb(129 123 123);

 }


 body {
	background-color: #fff;
	font-family: "poppins", sans-serif;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

 /* to make page responsive and 1 rem equal to 10 px  */

 html{
    font-size:62.5%;
 }
 .heading{
   font-size: 2.5rem;
   margin-top: 10px;
 }
.row{
   margin: 0;
}

 /* top part of nav containing contact  */

 .fa{
   color: white;
}
 

.top-includes{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--main-bg);
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    }
.top-includes li{
   margin-left: 1%;
}
.top-includes li a{
    color: var(--main-bg);
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.telno:hover{
   color: var(--main-color) !important;
}

/* styling of the contact head  */

.contact_head,.footer{
background-color: var(--main-panel);

}

    /* style of navbar  */

    .nav_head{
      background-color: var(--main-bg);


      /* fixing navbar to top when it reaches o px from top  */
      position: sticky;
      top: -1px;
      z-index: 700;
      border-bottom: solid 1px #e5e5e5;
      border-top: solid 1px #e5e5e5;
    }
    /* background fo nav  */
    .navbar{
       color: rgb(255, 255, 255);
       background-color: var(--main-bg);
       
       
    }
    
    /* anchor tags of nav  */

    .navbar a{
      color: var(--main-cement) !important;
    /* text-shadow: 0px 1px 1px black; */
    font-weight: 100 ;
    
    font-size: 1.8rem;
    font-family: initial;
      
    }
    .navbar a:hover{
      color: rgb(0, 0, 0);
      text-shadow: 0px 2px 5px rgb(0, 255, 102);
      font-size: 1.8rem;
   }
   /* targeting active navbar item  */

   .navbar a.active {
      color: rgb(70 221 70) !important;
      text-shadow: 1px 0px 1px #335e0c;
      font-weight: 400;

      /* color: var(--main-color)!important;
      text-shadow: 2px 0px 1px black; */
  }


   .nav-item{
      /* box-shadow: inset 0.1em 0.1em 0.7em #282727; */
   }
    .nav-brick{
      width: 2.5em;
      height: 2.5em;
      background-image: url('https://www.svgrepo.com/show/147781/brick.svg');
    }

    /* giving spaces between li of nav element 
     */
    .navbar li {
      margin-left:2rem;
     }


     /* styling og logo  */

     .logoimg{
      width: 41px;
      margin-right: 5px;
   }
   .logoimg:hover{
      width: 52px;
      /* filter: drop-shadow(7px 4px 5px rgb(243, 152, 68));   */
   }
   
   .head-logo{
      width: 143px;
   }


/* welcome note of the site  */
.welcomenote{
   border: solid 1px #e5e5e5;
   display: flex;
   justify-content: space-around;
   padding: 3%;

}
.wnote{
   color: black;
   font-size: 2.5rem;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 900;
}

.wnote:hover{
   color: var(--main-color) !important;
}


   /* styling of the card 
    */
.card{
   margin: 5%;
   margin-top: 0;
   border: none;
}

    .cardimg{

      position:relative;
      width: 90%;
    }
.card-desc{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
    font-size: 1.6rem;
    color: #666c6e;
}


/* styling of footer  */

.footer{

   display: flex;
   justify-content: center;
   padding: 1%;
}

.footer-text{
   color: var(--main-cement) !important;
}

.footer-text a{
   text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   color: #e5e5e5;

}
.footer-text a:hover{
   color: var(--main-color) !important;
}
