
/* root color so that we can reuse it keep our site uniform 
 */

 :root{
    --main-bg:rgb(253, 253, 253);
    --main-panel:rgb(7, 76, 7);
    --main-color:rgba(41, 247, 0, 0.738);
    --main-cement:rgb(129 123 123);
    overflow-x: hidden;

 }
 


 body {
	background-color: #fff;
	font-family: "poppins", sans-serif;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
   /* display: none; */
   /* cursor: url('../images/apple.png'), auto;	 */
}

/* preloader part  */

.preloader{
   width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}
.preloader .preloadericon{
   z-index: 10000;
    width: 16%;
    height: 23%;

}

/* end111 perloader part  */


 /* to make page responsive and 1 rem equal to 10 px  */

 html{
    font-size:62.5%;
 }
 .heading{
   font-size: 2.5rem;
   margin-top: 10px;
 }
.row{
   margin: 0;
}

 /* top part of nav containing contact  */

 .fa{
   color: white;
}
 

.top-includes{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--main-bg);
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    }
.top-includes li{
   margin-left: 1%;
}
.top-includes li a{
    color: var(--main-bg);
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.telno:hover{
   color: var(--main-color) !important;
}

/* styling of the contact head  */

.contact_head,.footer{
background-color: var(--main-panel);

}

    /* style of navbar  */

    .nav_head{
      background-color: var(--main-bg);


      /* fixing navbar to top when it reaches o px from top  */
      position: sticky;
      top: -1px;
      z-index: 700;
      border-bottom: solid 1px #e5e5e5;
      border-top: solid 1px #e5e5e5;
    }
    /* background fo nav  */
    .navbar{
       color: rgb(255, 255, 255);
       background-color: var(--main-bg);
       
       
    }
    
    /* anchor tags of nav  */

    .navbar a{
      color: var(--main-cement) !important;
    /* text-shadow: 0px 1px 1px black; */
    font-weight: 100 ;
    
    font-size: 1.8rem;
    font-family: initial;
      
    }
    .navbar a:hover{
      color: rgb(0, 0, 0);
      text-shadow: 0px 2px 5px rgb(0, 255, 102);
      font-size: 1.8rem;
   }
   /* targeting active navbar item  */

   .navbar a.active {
      color: rgb(70 221 70) !important;
      text-shadow: 1px 0px 1px #335e0c;
      font-weight: 400;

      /* color: var(--main-color)!important;
      text-shadow: 2px 0px 1px black; */
  }


   .nav-item{
      /* box-shadow: inset 0.1em 0.1em 0.7em #282727; */
   }
    .nav-brick{
      width: 2.5em;
      height: 2.5em;
      background-image: url('https://www.svgrepo.com/show/68626/pear.svg');
    }

    /* giving spaces between li of nav element 
     */
    .navbar li {
      margin-left:2rem;
     }


     /* styling og logo  */

     .logoimg{
      width: 41px;
      margin-right: 5px;
   }
   .logoimg:hover{
      width: 52px;
      /* filter: drop-shadow(7px 4px 5px rgb(243, 152, 68));   */
   }

   .navbar-brand{
      position: relative;
      z-index: 999;
   }
   
   .head-logo{
      width: 143px;
      position: relative;
      z-index: 999;
   }


/* welcome note of the site  */
.welcomenote{
   border: solid 1px #e5e5e5;
   display: flex;
   justify-content: space-around;
   padding: 3%;

}
.wnote{
   color: black;
   font-size: 2.5rem;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 900;
}

.wnote:hover{
   color: var(--main-color) !important;
}


   /* styling of the card 
    */
.card{
   margin: 5%;
   margin-top: 0;
   border: none;
}

    .cardimg{

      position:relative;
      width: 90%;
    }
.card-desc{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
    font-size: 1.6rem;
    color: #666c6e;
}


/* styling of footer  */

.footer{

   display: flex;
   justify-content: center;
   padding: 1%;
   margin: 0;
   position: relative;
   z-index:10;
}

.footer-text{
   color: var(--main-cement) !important;
}

.footer-text a{
   text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   color: #e5e5e5;

}
.footer-text a:hover{
   color: var(--main-color) !important;
}
/* floating apple part  */

.applefloat{
   position: relative;
    top: 3%;
   
   
}
.log-head{
   cursor: url('../images/forkc52.png'), auto;	
   overflow: hidden;
   max-height: 200px;

}
.fruit{
   position: absolute;
    top: 53%;
    left: 30%;
    z-index: 10;
}

.opener{
   position: relative;
    top: -53%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    z-index: 0;
}


/* contact section  */

.contactsec{

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #095a55;

}

.contactsec::before{
   content: '';
   position: absolute;
   top: 24%;
   left: 0;
   width: 50%;
   height: 76%;
   background: #fff38e;
   z-index: 0;
}

/* contact container  */

.container-contact{
   position: relative;
   min-width: 1100px;
   min-height:550px;
   display: flex;
   z-index: 1000;
   /* background:white; */
}

.container-contact .contactInfo{

   position: absolute;
   top:40px;
   width:350px;
   height:calc(100% - 80px);
   background:#095a55;
   z-index: 99;
   padding:40px;
   display:flex;
   justify-content:center;
   flex-direction:column;
   justify-content:space-between;
   box-shadow:0 20px 25px rgba(0,0,0,0.15);
   color: white;
}

.contacttitle{
   position: relative;
   left: 6%;
}
.contactaddress{
   font-size:24px;
}
.container-contact .contactInfo li{
   list-style: none;
   font-size: 1.5rem;
   display:flex;
   margin:20px 0;
   cursor: pointer;
   align-items:flex-start;
}

li a{
   color: var(--main-bg);
   text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;

}



.container-contact .contactForm{

   position:absolute;
   padding: 70px 50px;
   padding-left: 250px;
   margin-left:150px;
   width:calc(100% - 150px);
   height:100%;
   background:white;
   box-shadow:0 50px 50px rgba(0,0,0,0.25);
}

/* icons for contact page  */

.cicon{
   width: 17%;
}

.cicon .fa{
   font-size: 31px;
}
.cinfo{
   margin-left:7px;
   font-size: 76% !important;
   font-family: raleway,sans-serif !important;
}
.address{
   font-weight: 600!important;
}


/* social media icon part  */

/* creating background color  */

.socialsec{
   position: relative;
   width: 100%;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to bottom,#fff38e,#dff1ff);
   }
   
   section .color{
      position: absolute;
      filter: blur(150px);
   }
   
   
   /* creating 3 color boxes for gradient  */
   section .color:nth-child(1){
      top: 0%;
       left: 0;
       background: #ff359b;
       width: 50%;
       height: 50%;
   }
   section .color:nth-child(2){
      bottom: 0%;
       background: #fffd87;
       width: 50%;
       height: 50%;
       right: 0%;
   }
   section .color:nth-child(3){
      bottom: 0%;
      right: 0%;
      background: #00d2ff;
      width: 30%;
      height: 30%;
   
   }
   
   
   /* now creating half box for icons draw over  */
   
   .socialsec::before{
      content: "";
      position:absolute;
      width: 100%;
      height: 50%;
      bottom:0%;
      z-index:10;
      border-top: 1px solid rgba(255,255,255,0.5);
      background: rgba(255,255,255,0.1);
      backdrop-filter:blur(10px);
   }
   
   /* styling icons  */
   
   .socialsec ul{
      position: relative;
      display: flex;
   }
   
   .socialsec ul li{
      position: relative;
      list-style: none;
      margin: 10px;
      left: -4%;
   }
   
   .socialsec ul li a{
      position: relative;
      top: 0;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2em;
      border: 1px solid rgba(255,255,255,0.4);
      border-right: 1px solid rgba(255,255,255,0.2);
      border-bottom: 1px solid rgba(255,255,255,0.2);
      border-radius: 10px;
      background: rgba(255,255,255,0.1);
      backdrop-filter: blur(4px);
      /* icon will be behind drawer  */
      z-index: 1;
      box-shadow: inset 9px 20px 45px 14px rgb(23 57 18 / 27%);
      text-decoration: none;
   /* hiding glance  
   */
   overflow: hidden;
   
   /* adding transitions and delay  */
   transition: top 0.5s,z-index 0.5s,transform 0.5s;
   transition-delay: 0.5s, 0s ,0s;
   
   }
   
   /* putting icon on top on hover  */
   
   .socialsec li a:hover{
      transition-delay: 0s, 0.5s ,0.5s;
      top: -50px;
      /* basically we are moving it on top and then transforming after 0.5s  */
      transform: translateY(50px);
      z-index: 11;
    
   }
   
   
   
   /* creating glass glance effect now  */
   
   .socialsec li a:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height:100%;
      background: rgba(255,255,255,0.5);
   
      /* now we will rotate this for 45 deg to create slanted glance */
   transform: skewX(45deg) translateX(150px); 
   /* now this glance will be shifted  */
   transition: 0.5s;
   
   }
   
   /* now making glance effect on hover  */
   
   .socialsec li a:hover::before{
      transform: skewX(45deg)translateX(-150px);
   
   }
   


   /* styling of the contact form  */

.formtitle{
   position: relative;
   top: -10%;
   font-size: 3.4rem;
}

   .contact-form{
      padding: 0px 14% 1% 0;
      position: relative;
    top: -8%;
      
   }
   
   /* putting asterick * after required label  */
   
   .required{
      font-weight: bold;
   }
   .required:after {
       content:" *";
       color: red;
     }
   
     .form-label{
      font-size: 13px;
      font-family: raleway,sans-serif;
      font-weight:900;
     }
   
     .form-group{
      margin-top: 5.2px;
     }
   
     /* removing up down arrow from number  */
   
     /* Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   
   /* Firefox */
   input[type=number] {
     -moz-appearance: textfield;
   }
   
   /* submit button for form  */
   
   .enqbtn {
      background-color: rgb(13 91 86) !important;
    border-color: #fff28e !important;
    font-size: 16px !important;
    height: 42px!important;
    padding: 4px!important;
    width: 98px!important;
    margin: 1% 0;
    border-radius: 15px !important;
    position: relative;
    left: 106%;
      }
   .enqbtn:hover{
      background-color: var(--main-color) !important;
   }
   
   .form-control{
      border-radius: 10px 0 10px 0  !important;
    box-shadow: inset 0em 0em 0.2em #282727;
    font-size: medium;
    font-weight: 500;
    
   }


   /* now making contact part responsive  */

   @media(max-width:1200px){
      .container-contact.container-contact{
         width: 90% !important;
         min-width: auto;
         margin: 20px;
         box-shadow: 0 20px 50px rgba(0,0,0,0.2);
         transition: 0.5ms;
         transition-timing-function: ease-in;
      }
      .contactInfo.contactInfo{
         top: 0;
         height: 550px;
         position: relative;
         box-shadow: none;
         transition: 0.5ms;
         transition-timing-function: ease-in;
      }
      .contactForm.contactForm{
         position: relative;
         width:calc(100% - 350px);
         padding-left: 0;
         margin-left: 0;
         padding: 40px;
         height: 550px;
         transition: 0.5ms;
         transition-timing-function: ease-in;
         

      }
      .enqbtn.enqbtn{
         left: 100%;
         transition: 0.5ms;
         transition-timing-function: ease-in;
            
         
      }
      .formtitle.formtitle{
         top: -1%;
     }
     .contact-form.contact-form{
      top: 0%;
     }
     

   }

   @media(max-width:991px){
      .contactsec.contactsec{
         background: #fff38e;

      }
   .contactsec::before{
      display: none;
   }
   .container-contact.container-contact{
      display: flex;
      /* column reverse for putting info down  */
      flex-direction: column-reverse;
   }
.contactForm.contactForm{
   width:100% ;
}
.contactInfo.contactInfo{
   width: 100%;
}

.formtitle.formtitle{
   top: -6%;
}
.contact-form.contact-form{
top: -5%;
}
.enqbtn.enqbtn{
   left: 96%;
   width: 70px!important;
   height: 35px !important;
}
   

   }

   /* making whole page responsive  */

   @media(max-width:425px){
      .socialsec ul li a {
         width: 61px;
         height: 61px;}

         

.top-includes {
    
    font-size: 88%;
   }
   }