<!-- footer part starts  -->

<div class="footer container-fluid top-includes mx-auto">
    <p class="footer-text">© <span class="curyear"></span>  Red Leaf Fresh Fruits Pty Ltd <a href="">Green Farm WordPress Theme</a></p>
  
  </div>
  
  
  <!-- footer ends  -->
  
  
  <script>
  
   
  </script>
  <script src="js/main.js" type="text/javascript"></script>
      
  </body>
  </html>